/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 лип. 2020, 12:34:06
    Author     : dmytr
*/
#links{    
  display:flex;
  justify-content:space-around;  
}
#links a{    
  border:10px solid rgb(55,110,130);
  border-radius:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;  
  margin:10px;
  margin-top:40px;
}
#links a img{    
  order:0;
  width:250px;
  height:200px
}
#links a:hover img{
  width:276px;
  height:220px;  
}
#links a:hover{  
  font-size:20px;  
  margin-bottom:-20px;
  margin-left: -3px;
  margin-right:-3px;
}
a div{   
  order:1;   
}
#header{    
  text-align: center;
  font-size: 48px;
  color:white;
  font-family: 'Arial Black';
  background-color: rgb(55,110,130);
  padding:50px;
  border:10px solid rgb(55,110,130);
  display:flex;
  justify-content:center;
  margin:0px;  
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#header img{   
  width:55px;
  height:55px;
}
#socialNetworks{    
  display:flex;
  justify-content:space-around;   
}
#socialNetworks a{    
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  color:white;  
}
#socialNetworks a img{    
  order:0;
  width:100px;
  height:100px;
}
footer{    
  background-color:rgb(46,71,71);
  border-radius:20px;
  margin-top:50px;
}
footer h1{
  color:white;
  text-align: center;
}
footer h2{
  color:white;
  text-align:center;
  font-size:15px;
}
#popup_window{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}
#popup_window.active{
    display:block;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
#basketItem{
    display:flex;
    justify-content:space-around;
}
#basketItem img{
    width:50px;
    height:50px;
}
#close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  float:right;
}


